*.iml
.gradle
.idea*
/.idea
gradlew
gradlew.bat
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
*apk
*build
.local.properties
/.idea/workspace.xml
/.idea/libraries
.idea/
app/app.iml

————————————————
